*.swp
*.bak
*.o
*.lo
*.orig
*.rej
.dirstamp
.deps/
.libs/
build-aux/
docs/reference/html
docs/reference/html-build.stamp
docs/reference/html.stamp
docs/reference/sgml-build.stamp
docs/reference/sgml.stamp
docs/reference/scan-build.stamp
docs/reference/setup-build.stamp
docs/reference/xml
docs/reference/version.xml
docs/reference/statusnotifier.args
docs/reference/statusnotifier-decl-list.txt
docs/reference/statusnotifier-decl.txt
docs/reference/statusnotifier.hierarchy
docs/reference/statusnotifier.interfaces
docs/reference/statusnotifier.prerequisites
docs/reference/statusnotifier.signals
docs/reference/statusnotifier-undeclared.txt
docs/reference/statusnotifier-undocumented.txt
docs/reference/statusnotifier-unused.txt
Makefile
Makefile.in
aclocal.m4
autogen.log
autom4te.cache/
m4/gtk-doc.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/lt~obsolete.m4
m4/ltversion.m4
/gtk-doc.make
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/libstatusnotifier.la
/statusnotifier.pc
/example/sn-example
stamp-h1
src/enums.h
src/enums.c
